{
	"parser": "babel-eslint",
	"extends": [
		"airbnb"
	],
	"plugins": [
		"react",
		"react-native"
	],
    "rules": {
        "import/prefer-default-export": 0
    },
    "env": {
        "jest": true
    }
}
